:root{
   /* ==================================================
    ====================== COLORES ======================
    ================================================== */

    --color-white: #ffffff;
    --color-black: #111;
    --color-grey: #f7f7f8;
    --color-purple: #5c46ca;

    /* ==================================================
    ================== TAMAÑOS TEXTOS ==================
    ================================================== */
    --text-extratiny: .5625rem;
    --text-tiny: 0.9rem;
    --text-normal: 1rem;
    --text-medium: 1.5rem;
    --text-large: 2rem;
    --text-extralarge: 3rem;

    /* ==================================================
    ================== TAMAÑOS FUENTES ==================
    ================================================== */
    --font-semibold: 300;
    --font-sebold: 500;
    --font-bold: 600;
    --font-extrabold: 900;

    /* ==================================================
    ========== TAMAÑOS ELEMENTOS CONTENEDORES ==========
    ================================================== */
    --size-xs: 0.5em;
    --size-sm: 1em;
    --size-md: 1.5em;
    --size-lg: 2em;
    --size-xl: 3em;
}