@import url(./root.css);

* {
    background-color: var(--color-white);
    color: var(--color-black);
}

/* ==================================================
================== MENU NAVEGACION ==================
================================================== */

.nav {
    width: 100%;
    border-bottom: solid 2px var(--color-purple);
    display: flex;
    justify-content: center;
    height: 55px;
    font-family: "Work Sans", sans-serif;
    font-size: var(--text-tiny);
    font-weight: var(--font-sebold);

    .nav-complete {
        background-color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .nav-section {
            display: flex;

            .nav-burger, li {
                padding: 0 10px;
            }

            .nav-burger{
                padding: var(--size-lg);
            }
        }

        .nav-links {
            display: flex;
            flex-direction: row;
        }

        .nav-img {
            width: 150px;
        }   
    }

        button {
            border: none;
            font-size: var(--text-medium);
        }

        .nav-search button {
            font-size: var(--text-normal)
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }



footer {
    display: none;
}

@media (max-width: 768px) {
    .nav-complete {
        width: 100%;
        padding: var(--size-xs);

        .nav-links li {
            display: none;
        }
    }
    
    
}

@media (min-width: 769px) {
    .nav-complete {
        width: 100%;
        max-width: 1200px;
        padding: var(--size-xs);
    
        .nav-img {
            margin-right: 15rem;
        }   
    }
}

/* ==================================================
================ CONTENIDO PRINCIPAL ================
================================================== */

@media (max-width: 768px) {
    main {
        font-family: "Work Sans", sans-serif;
    }

    .noticia-principio-texto {
        padding: 0 16px 12px 16px;
            
        h1{
            font-family: "Work Sans", sans-serif;
            font-size: var(--text-medium);
            font-style: oblique;
            font-weight: var(--font-extrabold);
        }

        span, h2 {
            font-family: 'Roboto Flex', sans-serif;
                font-size: 1.3rem;
                color: #595959;
        }

    }

    .bloque-noticia-autor {
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding: em 0;
    }

    .autor {
        padding: 0 16px 12px 16px;
        font-size: var(--text-normal);
        
    }
    
    .autor ul{
        display: flex;
        align-items: center;
        
        img {
            width: 3em;
            border-radius: 100%;
        }
        
        .autor-vertical ul {
            display: flex;
            flex-direction: column;
        }
        
        .rrss {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            padding-left: 1em ;
        }
    }
    
    .noticia-cuerpo {
        padding: 0 16px 12px 16px;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 1.2rem;
    }

    .noticia-cuerpo-topics {
        padding: 0 16px 12px 16px;
        display: flex;
        margin: 25px 0;
        border-top: solid 0.5px #D9D9D9;

        ul {
            display: flex;
            flex-direction: row;
            margin-top: 0.1em;

            li {
                padding-right: 0.2em;
                font-size: var(--text-tiny);
            }
        }
    }

    .noticia-cuerpo-related {
        display: flex;
        border: solid 1px #a8a8a8;
        border-radius: 8px;
        padding: 16px;
        margin: 0 16px 12px 16px;


        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        li:first-child {
            width: 70%;
            font-weight: var(--font-bold);
        }

        li:last-child {
            width: 30%;
            display: flex;
            justify-content: end;
            align-items: center;

            img {
                border-radius: 8px;
            }
        }
    }

    .noticia-cuerpo-comentario {
        display: flex;
        border: solid 1px #a8a8a8;
        border-radius: 8px;
        margin-top: 15px;
        padding: 10px;
        margin: 0 16px 12px 16px;
        
        .noticia-cuerpo-comentario-divisor {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .noticia-cuerpo-comentario-usuario {
            width: 15%;
            display: flex;
            flex-direction: column;

            p {
                font-size: 0.7rem;
            }
        }

        .noticia-cuerpo-comentario-comentario {
            width: 80%;
            display: flex;
            flex-direction: column;

            p {
                font-size: var(--text-tiny);
                padding-bottom: 0.5rem;
            }

            textarea {
                resize: none;
                width: 100%;
                border: 1px solid #a8a8a8;
                border-radius: .5rem;
                font-size: 1rem;
                width: 100%;
            }

            button {
                font-size: var(--text-tiny);
                border: .5px solid #a8a8a8;
                border-radius: .5rem;
                cursor: pointer;
            }
        }
        
        .noticia-cuerpo-comentario-comentario-enviar {
            display: flex;
            align-items: end;

            li:first-child {
                width: 100%;
                margin-right: 3px;
            }

            li:last-child {
                margin-bottom: 6px;
            }
            
        }
    }
}

@media (min-width: 769px) {
    main {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
    }
    
    .noticia {
        display: inline-flex;
        flex-direction: column;
        align-items: start;
        padding-top: 64px;

        .noticia-principio{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding-left: 96px;
            padding-right: 96px;
        }
        
        .noticia-principio-texto {
            width: 40%;
            
            h1{
                font-family: "Work Sans", sans-serif;
                font-size: var(--text-large);
                font-style: oblique;
                font-weight: var(--font-extrabold);
                align-items: start;
                padding: 1rem 0;
            }

            span, h2 {
                font-family: 'Roboto Flex', sans-serif;
                font-size: 1.3rem;
                color: #595959;
            }
        }

        .noticia-principio-foto {
            width: 55%;
        
            img {
                display: flex;
                justify-content: center;
                max-width: 100%;
                height: auto;
            }
        }
    }

    .bloque {
        display: flex;
        padding: 35px 96px;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 1.3rem;

    }
    
    .bloque-noticia-autor {
        width: 65%;
        display: flex;
        justify-content: start;
        flex-direction: column;

        p {
            line-height: 1.5;
        }
    }

    .autor {
        padding-bottom: 32px;
        font-size: var(--text-normal);
    }

    .autor ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img {
            width: 3em;
            border-radius: 100%;
        }

        .autor-vertical { /* NO CONSIGO PONERLO EN COLUMNA */
            display: flex;

            ul {
                display: flex;
                flex-direction: column;
            }

        }

        .rrss {
            display: flex;
            align-items: center;
            font-size: 1.2em;
        }
    }

    .noticia-cuerpo-topics {
        display: flex;
        margin: 32px 0;
        border-top: solid 0.5px #D9D9D9;

        ul {
            display: flex;
            flex-direction: row;
            margin-top: 0.1em;

            li {
                padding-right: 0.2em;
                font-size: var(--text-tiny);
            }
        }
    }

    .noticia-cuerpo-related {
        display: flex;
        border: solid 1px #a8a8a8;
        border-radius: 8px;
        padding: 16px;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        li:first-child {
            width: 70%;
            font-weight: var(--font-bold);
        }

        li:last-child {
            width: 30%;
            display: flex;
            justify-content: end;
            align-items: center;

            img {
                border-radius: 8px;
            }
        }
    }

    .noticia-cuerpo-comentario {
        display: flex;
        border: solid 1px #a8a8a8;
        border-radius: 8px;
        margin-top: 15px;
        padding: 10px;
        
        .noticia-cuerpo-comentario-divisor {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .noticia-cuerpo-comentario-usuario {
            width: 15%;
            display: flex;
            flex-direction: column;

            p {
                font-size: var(--text-tiny);
            }
        }

        .noticia-cuerpo-comentario-comentario {
            width: 80%;
            display: flex;
            flex-direction: column;

            p {
                font-size: var(--text-tiny);
                padding-bottom: 0.5rem;
            }

            textarea {
                resize: none;
                width: 100%;
                border: 1px solid #a8a8a8;
                border-radius: .5rem;
                font-size: 1rem;
                width: 100%;
            }

            button {
                font-size: var(--text-tiny);
                border: .5px solid #a8a8a8;
                border-radius: .5rem;
                cursor: pointer;
            }
        }
        
        .noticia-cuerpo-comentario-comentario-enviar {
            display: flex;
            align-items: end;

            li:first-child {
                width: 100%;
                margin-right: 3px;
            }

            li:last-child {
                margin-bottom: 6px;
            }
            
        }
    }

    .publicidad {
        width: 35%;
        display: flex;
        justify-content: end;
    }
}